.posts-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: var(--padding-2);
    padding-top: var(--padding-top-title);
    background-color: var(--section-bg-1);
}
.posts-page .search-product{
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 3px solid var(--section-bg-2);
    outline: none;
    background-color: transparent;
    transition: border var(--time) ease;
}
.posts-page .search-product:focus{
    border-color: var(--color-hover);
}
.posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@media(width < 1200px){
    .posts{
        grid-template-columns: 1fr 1fr;
    }
}
@media(width < 650px){
    .posts{
        grid-template-columns: 1fr;
    }
}