@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
section, header, footer, button, input, textarea, select{
  color: var(--main-color-2);
}
body{
  overflow-x: hidden;
}
:root{
  --main-color: #333;
  --main-color-2: white;
  --main-color-opacity: rgba(0, 0, 0, 0.75);
  --padding-1: 20px 30px;
  --padding-2: 20px 40px;
  --padding-top-title: 120px;
  --section-bg-1: #222;
  --section-bg-2: #111;
  --color-hover: deeppink;
  --time: 0.3s;
  transition: var(--time) ease;
}
body.light-mode{
  --main-color: #eaeaea;
  --main-color-2: black;
  --main-color-opacity: rgb(255, 255, 255, 0.75);
  --section-bg-1: #dfdfdf;
  --section-bg-2: #ffffff;
}
a{
  text-decoration: none;
  color: var(--main-color-2);
}
.button-main-style{
  outline: none;
  color: var(--main-color-2);
  border: 2px solid var(--color-hover);
  background-color: var(--color-hover);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: var(--time) ease;
}
.button-main-style:hover{
  background-color: transparent;
  border-color: var(--color-hover);
  color: var(--color-hover);
}
.button-main-style:active{
  transition: 0.1s ease;
  transform: scale(0.8);
}
.title-section{
  font-size: 40px;
  margin-inline: auto;
  position: relative;
  width: fit-content;
}
.title-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 55px;
  height: 60%;
  border-left: 2px solid var(--color-hover);
  border-top: 2px solid var(--color-hover);
}
.title-section::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: -12px;
  width: 55px;
  height: 60%;
  border-right: 2px solid var(--color-hover);
  border-bottom: 2px solid var(--color-hover);
}
svg path{
  transition: var(--time) ease;
}

@media(width < 600px){
  :root{
    --padding-1: 10px 15px;
    --padding-2: 10px 20px;
    --padding-top-title: 85px;
  }
  .title-section{
    font-size: 32px;
  }
}